* {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  border: 0;
  outline: none;
  appearance: none;
}

header,
footer {
  width: 100%;
  padding: 20px 20px;
  background: darksalmon;
  text-align: center;
}

header h1 {
  color: rgb(19, 22, 63);
}

.user {
  position: absolute;
  top: 20px;
  right: 20px;
}
